<form fxLayout="column" [formGroup]="signInForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error *ngIf="signInForm.hasError('required', ['email'])">
            Email is required
        </mat-error>
        <mat-error *ngIf="signInForm.hasError('email', ['email'])">
            Invalid Email
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="signInForm.hasError('required', ['password'])">
            Password is required
        </mat-error>
    </mat-form-field>
    <div *ngIf="signInError" class="error-msg">
        {{ signInError }}
    </div>
    <button type="submit" mat-raised-button color="primary" [disabled]="signInLoading">
        <fc-button-spinner [loading]="signInLoading"></fc-button-spinner>
        <ng-container *ngIf="!signInLoading">
            Sign in
        </ng-container>
    </button>
</form>
