<h2 mat-dialog-title>
    Add Card
</h2>
<form [formGroup]="addCardForm" (ngSubmit)="addCard()">
    <mat-dialog-content>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" autocomplete="off" />
            <mat-error *ngIf="addCardForm.hasError('required', ['name'])">
                Name is required
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button type="button" mat-stroked-button mat-dialog-close>
            Close
        </button>
        <button type="submit" mat-raised-button color="primary">
            <ng-container *ngIf="!isAdding">Add</ng-container>
            <fc-button-spinner [loading]="isAdding"></fc-button-spinner>
        </button>
    </mat-dialog-actions>
</form>
