<h2 mat-dialog-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
    <mat-icon>share</mat-icon>
    <span>Share</span>
</h2>
<mat-dialog-content>
    You can use this public URL to share your flashcards set.
    <br /><br />
    <div fxLayout="row" fxLayoutAlign="space-between center" class="set-url">
        <a class="ellipsis" [href]="setURL" target="_blank">
            {{ setURL }}
        </a>
        <button type="button" mat-icon-button matTooltip="Copy"
                ngxClipboard [cbContent]="setURL" (cbOnSuccess)="onURLCopy()">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>
    <br />
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
    <button type="button" mat-raised-button mat-dialog-close>
        Close
    </button>
</mat-dialog-actions>
