<mat-toolbar color="primary" class="mat-elevation-z1">
    <h1>Flashcard App</h1>
    <span fxFlex="auto"></span>
    <button type="button" mat-icon-button (click)="signOut()"
            matTooltip="Sign out" matTooltipPosition="below">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<main>
    <div class="set-container" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.xs="center center">
        <div class="set-wrapper" *ngFor="let set of setsList">
            <button type="button" mat-stroked-button color="primary"
                    [ngClass]="{'active' : set.id === activeSet?.id}"
                    (click)="makeSetActive(set)">
                {{ set.name }}
            </button>
        </div>
        <div class="add-set">
            <button mat-stroked-button color="primary" [disabled]="setsLoading" (click)="addSet()">
                <ng-container *ngIf="!setsLoading">
                    <mat-icon>add_circle</mat-icon>
                    <br />
                    Add Set
                </ng-container>
                <fc-button-spinner [loading]="setsLoading"></fc-button-spinner>
            </button>
        </div>
    </div>
    <div *ngIf="activeSet;">
        <hr />
        <div class="set-title"
             fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px"
             fxLayout.xs="column-reverse" fxLayoutGap.xs="12px">
            <div fxFlex="grow" class="set-name" fxFlexAlign="start">
                <h2>
                    <mat-icon>filter_none</mat-icon>
                    <span>{{ activeSet.name }}</span>
                </h2>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" fxFlexAlign="end">
                <button type="button" mat-icon-button color="accent" matTooltip="Edit/Delete Set"
                        (click)="editSet()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button type="button" mat-icon-button color="accent" matTooltip="Share Set"
                        (click)="shareSet()">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </div>
        <fc-progress-bar [loading]="cardsLoading"></fc-progress-bar>
        <div class="card-background" *ngIf="!cardsLoading">
            <div class="card-container" fxLayout="row wrap" fxLayoutAlign="start stretch">
                <mat-card class="card-wrapper mat-elevation-z2" *ngFor="let card of activeSet.cards; let i = index;">
                    <span class="count">
                        {{ i + 1 }}
                    </span>
                    <mat-card-content class="card-content" fxLayout="column" fxLayoutAlign="start stretch">
                        <p class="title">
                            Term
                        </p>
                        <p class="term description">
                            {{ card.term }}
                        </p>
                        <p class="title">
                            Definition
                        </p>
                        <p class="definition description">
                            {{ card.definition }}
                        </p>
                        <span fxFlex></span>
                        <button type="button" mat-stroked-button color="accent" (click)="editCard(card)">
                            Edit
                        </button>
                    </mat-card-content>
                </mat-card>
                <button type="button" class="card-wrapper add-card mat-elevation-z2" mat-stroked-button color="accent"
                        (click)="addCard()">
                    <mat-icon>add_circle</mat-icon>
                    <br />
                    Add Card
                </button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!setsLoading && !activeSet">
        <br />
        <div class="card-background">
            <br />
            <h3 class="placeholder-text text-center">
                Get started by adding your first cards set...
            </h3>
            <br />
        </div>
    </ng-container>
</main>
